<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="coursera.project.dailyselfie" >

    <!-- Camera Permissions -->
    <uses-feature
        android:name="android.hardware.Camera"
        android:required="true" />

    <!-- Read permission explicit with write capabilities -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="coursera.project.dailyselfie.DailySelfieActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="coursera.project.dailyselfie.SelfieActivity"
            android:label="@string/title_activity_selfie"
            android:parentActivityName="coursera.project.dailyselfie.DailySelfieActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="coursera.project.dailyselfie.DailySelfieActivity" />
        </activity>
        <receiver android:name=".SelfieAlarmNotificationReceiver"/>
    </application>

</manifest>
